html {
    font-size: 62.5%;
}

/* Desktops, large screens.) */
@media only screen and (min-width: 1025px) {
    html {
        font-size: 82.66%;
    }

    .box {
        width: 30vw;
        
    }
}

/*  Small screens, laptops. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 64%;
    }

    .box {
        width: 30vw;
       
    }


}

/* iPads, Tablets. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 48%;
    }

    .box {
        width: 50vw;
    }


}

/* Mobile devices */
@media only screen and (max-width: 480px) {
    html {
        font-size: 35%;
    }

    .box {
        width: 95vw;
        
        height: fit-content;
        min-height: 100vh;
    }
}


.button1{
    border: 1pt solid blue;
    background-color: blue;
    height: 100%;
    width: height;
    border-radius: 100%;
}
.button2{
    border: 1pt solid rgb(245, 3, 3);
    background-color: red;
    font-weight: bold;
    height: 100%;
    width: height;
    border-radius: 100%;
}
.Add{
    width: 2rem;
    height: 2rem;
}
.bar {
    font-size: 3.0rem;
    margin-top: .3rem;
    border-radius: 1rem;
    font-weight: bold;
    background-color: #8981f5;
    width: 90%;
    height: 8vh;
    padding: .5rem;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, 0.16), 0 .3rem .6rem rgba(0, 0, 0, 0.23);
    color: #faf7f7;
    text-shadow: .1rem .1rem .2rem black, 0 0 2.5rem rgb(237, 105, 23), 0 0 .5rem rgb(237, 78, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 2.0rem;
    background-color: #f71984;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    gap: .5rem;
    box-shadow: 0 .8rem 1.0rem -.5rem rgb(0 0 0 / 16%), 0 1.6rem 2.4rem .2rem rgb(0 0 0 / 11%), 0 .6rem 3.0rem .5rem rgb(0 0 0 / 10%);

}

.box1 {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //border: 2pt solid red;
}

.box2 {
    width: 93%;
    height: fit-content;
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    //border: 2pt solid yellow;
}

.box3 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
//border: 2pt solid green;
}

body {
    background-color: #ffdaec;
}

input {
    //-webkit-appearance: none;
    appearance: none;
    width: 88%;
    height: 7vh;
    background-color: transparent;
    border: 0rem solid;
    font-family: inherit;
    color: #ffffff;
    font-size: 190%;
    font-weight: bold;
    box-shadow: inset 0 -.1rem 0;

}

*:focus {
    outline: none;
}

::placeholder {
    color: rgb(240, 230, 230);
}

.task {

    text-align: left;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}